body{
  background: #e8e8e8;
  font-family: 'Roboto', sans-serif;
}

.e-blue{
  background: #0984e3;
}
.main-bg{
  background: #e8e8e8;
}
.nav-bg {
  background: #d63031;
}

.chi-red{
  background: #d63031;
}





.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2c82c9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-shadow {
  box-shadow: 0px 3px 8px #2d3436;
}

.carousel-card {
  height: 250px;
}

.card-shadow {
  box-shadow: 7px 7px 8px #2d3436;
}

.bill-card:hover {
  box-shadow: 3px 3px 8px #2d3436;
  transform: scale(1.01);
}

.rep-card:hover {
  box-shadow: 3px 3px 3px #2d3436;
  transform: scale(1.01);
}

.register-button {
  box-shadow: 3px 3px 8px #2d3436;
  transform: scale(1.05);
}

#editProfile:hover {
  box-shadow: 5px 5px 8px #2d3436;
  transform: scale(1.02);
  outline: 0;
}


#editProfile:focus {
  outline: 0;
}

#saveChanges {
  box-shadow: 5px 5px 8px #2d3436;
}

.read-bill{
  position: absolute;
  bottom: 5%;
}
